div{
    height: 100px;
    width: 100px;
    background-color: red;
    color: white;
    border: 2px dashed white ;

    position: absolute;
    top: 100px;
    left: 100px;
    /* animation-name: colorAnimate;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 5;
    animation-direction: reverse; */
    animation: colorAnimate 4s ease-in 0s infinite normal ;
}
@keyframes colorAnimate{
    0%{
        left: 0px;
        background-color: red;
    }
    25%{
        background-color: chartreuse;
    }
    50%{
        background-color: blue;
    }
    75%{
        background-color: darkcyan;
    }
    100%{
        left: 800px;
        background-color: pink;
        color: black;
    }
}

div:hover{

}