body{
    text-align: center;
}
div{
    height: 100px;
    width: 50px;
    display: inline-block;
    border: 2px solid black;
}
#container{
    height: 300px;
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* flex-wrap: wrap; */
    align-items: flex-start;
    /* align-content: flex-start; */
    
}
#box1{
    background-color: aqua;
    flex-grow: 5;
}
#box2{
    height: 100px;
    background-color: pink;
    flex-grow: 1;
    
}
#box3{
    height: 70px;
    background-color: brown;
    flex-grow: 2;
}
#box4{
    height: 125px;
    background-color: grey;
    flex-grow: 3;
}